@model FunlabProgramChallenge.ViewModels.LoggedUserViewModel
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    @if (!string.IsNullOrEmpty(Model.Role))
    {
        if (Model.Role == "Admin")
        {
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home", new { Area = "" })">Home</a>
                </li>
            </ul>
        }
        else if (Model.Role == "Member")
        {
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home", new { Area = "" })">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Admin", new { Area = "" })">Admin</a>
                </li>
            </ul>
        }
        if (!string.IsNullOrEmpty(Model.UserName))
        {
            <div class="navbar-login float-right">
                Welcome, @Model.UserName <a class="btn btn-danger" href="@Url.Action("LogOut", "Account", new { Area = "" })">Log Out</a>
            </div>
        }
    }
</div>